* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #00fff2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color-card {
    background: red;
}
#code-color {
    background: #40e0d0;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;

}

