body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    color: pink;
    flex-flow: row;
    font-feature-settings: "abvf";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}